.order-page-top {
    background-color: #f7f7f7;
}

.thank-you-wrapper {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 100%;
    margin: 0 auto;
    padding-top: 180px;
    padding-bottom: 50px;
}

.thank-you-images {
    width: 50%;
}

.thank-you-text {
    color: #CC0000;
    font-size: 29px;
    margin-bottom: 20px;
}

.confirmation-updates {
    display: flex;
    flex-wrap: wrap;
    gap: 4px;
}

.updates-text {
    margin-bottom: 16px;
}

.order-changes-text {
    margin: 0 auto;
    width: 78%;
}