.product-page {
    padding: 120px 0px 40px;
    width: 65%;
    margin: 0 auto;
}

.product-show-name {
    font-size: 23px;
    margin-bottom: 20px;
}

.product-wrapper {
    display: flex;
}

.product-show-container {
    max-width: 750px;
    width: 100%;
    padding: 0px 16px;
    position: relative;
    display: inline-block;
}

#show-img {
    width: 90%;
}

#show-img:hover {
    cursor: crosshair;
}

.product-show-info {
    padding: 0px 16px;
    width: 500px;
}

.product-show-price {
    font-size: 23px;
    font-weight: bold;
}

#purchase-online-text {
    margin-top: 10px;
    font-size: 14px;
    font-weight: 400;
}

.product-details-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(247, 247, 247);
    margin: 30px 0px;
}

#details-header {
    font-size: 23px;
    margin: 20px;
}

#details-subheader-container {
    width: 97%;
    border-bottom: 1px solid rgb(136, 136, 136);
}

#details-subheader {
    width: fit-content;
    margin: 0 auto;
    padding: 8px 12px;
    border-bottom: 3px solid rgb(204, 0, 0);
}

#details-subheader:hover {
    text-decoration: underline;
    cursor: pointer;
}

#details-body {
    background-color: white;
    width: 93%;
    padding: 10px;
}

#description-header {
    font-size: 16px;
    margin: 12px 0px 20px 12px;
}

#description-body {
    font-size: 14px;
    margin: 12px 0px 12px 12px;
}

#add-to-cart-button {
    background-color: #CC0000;
    font-weight: bold;
    color: white;
    border: none;
    width: 100%;
    margin-top: 8px;
    font-size: 19px;
    height: 56px;
    border-radius: 4px;
    padding: 0px 16px;
}

#add-to-cart-button:hover {
    background-color: rgb(170, 0, 0);
    cursor: pointer;
}

#purchase-online-text-card {
    margin-top: 15px;
    font-size: 12px;
}

.product-review-container {
    display: flex;
    /* justify-content: center; */
    align-items: center;
    flex-direction: column;
    width: 65%;
    margin: 0 auto;
}

.reviews-header {
    font-size: 23px;
    margin-bottom: 25px;
}

.reviews-avg-rating-num {
    font-size: 40px;
}

.star-ratings {
    margin-bottom: -7px;
}

.review-count {
    font-size: 14px;
}

#write-review-button-div {
    margin: 10px 0px;
}

#create-review-button {
    display: flex;
    margin: 0 auto;
    align-items: center;
    border: none;
    height: 32px;
    background-color: rgb(204, 0, 0);
    color: white;
    font-weight: bold;
    font-size: 12px;
    padding: 10px;
    border-radius: 4px;
}

#create-review-button:hover {
    cursor: pointer;
    background-color: rgb(170, 0, 0);
}

.matching-reviews-text {
    display: flex;
    justify-content: center;
    font-size: 16px;
}

.heart-buttons {
    position: absolute;
    bottom: 0px;
    right: 30px;
    border: none;
    cursor: pointer;
    padding: 0;
    border: 1px solid rgb(214, 214, 214);
    border-radius: 50%;
    background: none;
    padding: 10px 10px 6px 10px;
}

.filled-in-heart {
    margin-top: 2px;
    width: 20px;
}

.empty-heart {
    margin-top: 2px;
    width: 20px;
}