.all-checkout {
    display: flex;
    justify-content: space-between;
    width: 52%;
    margin: 0 auto;
    padding-top: 110px;
}

.left-side-checkout {
    width: 60%;
    padding-right: 15px;
}

.checkout-page-imgs-wrapper {
    padding: 0px 20px;
}

.checkout-page-item-imgs {
    width: 70px;
    border-radius: 8px;
    margin: 4px;
}

#all-checkout-items {
    border-color: rgb(247, 247, 247);
    border-radius: 8px;
    box-shadow: rgba(0, 0, 0, 0.04) 0px 6px 12px 4px,
    rgba(0, 0, 0, 0.04) 0px 4px 10px 2px,
    rgba(0, 0, 0, 0.06) 0px 2px 8px,
    rgba(0, 0, 0, 0.04) 0px 2px 4px;
    padding: 0px 20px;
}

.checkout-items-wrapper {
    padding: 0px 20px;
}

.checkout-items-header {
    display: flex;
    align-items: center;
    border-bottom: 1px solid rgb(214, 214, 214);
    min-height: 64px;
    margin-bottom: 16px;
}

.checkout-items-header-words {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-left: 16px;
}

.checkout-items-header-text {
    font-size: 19px;
}

.checkout-items-subtotal-text {
    font-size: 14px;
    line-height: 1.25;
    color: rgb(102, 102, 102);
    font-weight: normal;
}

.checkout-page-edit-button {
    display: flex;
    align-items: center;
}

.checkout-page-edit-button:hover {
    text-decoration: none;
}

.checkout-page-edit-button-word {
    color: #666666;
    text-decoration: underline #666666;
}

.checkout-page-edit-button-word:hover {
    color: #333333;
    text-decoration: none;
}

#checkout-arrives-by {
    padding: 0px 20px;
    color: rgb(0, 131, 0);
    font-weight: normal;
}

.arrow-box-img {
    display: flex;
    align-items: center;
    width: 40px;
}

.user-info-wrapper {
    padding: 0px 20px;
}

.user-info {
    font-size: 14px;
}

.default-address-box{
    background-color: rgb(236, 249, 236);
    border: 0.5px solid rgb(0, 162, 0);
    color: rgb(0, 131, 0);
    font-size: 12px;
    font-weight: normal;
    display: inline-flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    border: 0.5px solid;
    border-radius: 4px;
    padding: 4px 8px;
    margin-top: 6px;
    margin-bottom: 16px;
}

.payment-info-wrapper {
    display: flex;
    align-items: center;
    padding: 0px 20px;
}

.payment-info {
    margin-left: 16px;
}

.payment-info-wrapper {
    padding-bottom: 16px;
}

.right-side-checkout {
    width: 48%;
    padding-left: 15px;
}

.order-summary-text {
    display: flex;
    gap: 5px;
}

.order-summary-item-amount {
    font-size: 14px;
    display: flex;
    align-items: center;
}

.summary-subtotal-container {
    border-bottom: 1px solid rgb(214, 214, 214);
}

.summary-subtotal-text {
    display: flex;
    justify-content: space-between;
    margin-bottom: 8px;
}

.summary-discounts-text {
    display: flex;
    justify-content: space-between;
    margin-bottom: 4px;
}

.discount-price {
    color: #cc0000;
}

.redcard-discount-text {
    color: #666666;
    margin-left: 12px;
    font-size: 12px;
    margin-bottom: 6px;
}

.checkout-delivery-text {
    display: flex;
    justify-content: space-between;
    margin-bottom: 8px;
}

.checkout-delivery-free {
    color: #cc0000;
}

.checkout-tax-text {
    display: flex;
    justify-content: space-between;
    margin-bottom: 8px;
}

.checkout-total-price-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 65px;
    border-bottom: 1px solid rgb(214, 214, 214);
}

.checkout-total-text {
    font-size: 19px;
}

.checkout-summary-payment-container{
    display: flex;
    align-items: center;
    height: 65px;
    border-bottom: 1px solid rgb(214, 214, 214);
}

.checkout-summary-payment-text {
    margin-left: 16px;
    line-height: 1.25;
}

.checkout-summary-payment-info {
    color: rgb(102, 102, 102);
    font-size: 14px;
}

.checkout-terms {
    text-align: center;
    font-size: 12px;
    color: #666666;
    padding: 16px 0px;
}
.checkout-links {
    font-size: 12px;
    color: rgb(54, 108, 217);
    text-decoration: underline;
}

.checkout-links:hover {
    text-decoration: none;
}

.place-order-button {
    background-color: #cc0000;
    color: rgb(255, 255, 255);
    border: none;
    border-radius: 4px;
    font-weight: bold;
    font-size: 16px;
    height: 44px;
    width: 100%;
}

.place-order-button:hover {
    cursor: pointer;
    background-color: #aa0200;
}

.order-confirmation-text {
    padding: 16px 0px;
    font-size: 12px;
    color: rgb(102, 102, 102);
    text-align: center;
}