.homepage {
    padding-top: 80px;
    width: 70%;
    margin: 0 auto;
    text-align: center;
}

.home-page-button {
    background: none;
    border: none;
    padding: 0px;
    position: relative;

}

.home-page-button:hover {
    cursor: pointer;
}

.home-page-button:hover .home-page-text h1,
.home-page-button:hover .home-page-text p {
    text-decoration: underline;
}

.home-page-button:hover .ready-for-school-button {
    text-decoration: underline white;
}

.home-page-text {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 21%;
    right: initial;
    bottom: initial;
    left: 41.2%;
    width: 18%;
    padding: 0px !important;
    overflow: hidden;
}

.home-page-h1 {
    font-size: 46px;
    color: black;
    line-height: 1;
}

.home-page-p {
    font-size: 23px;
    color: black;
}

.home-page-img {
    width: 100%;
}

.ready-for-school-button {
    background-color: rgb(170, 0, 0);
    border-color: rgb(170, 0, 0);
    color: rgb(255, 255, 255);
    font-size: 18.75px;
    border: none;
    border-radius: 4px;
    height: 44px;
    width: 80%;
    margin: 0 auto;
    text-decoration-color: white;
}

.ready-for-school-button:hover {
    background-color: rgb(121, 0, 0);
    cursor: pointer;
}



.categories-buttons {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.category-button {
    border: none;
    border-radius: 50%;
    width: 190px;
    background: none;
}

.category-button-wrapper {
    margin-top: 30px;
}

.category-button-wrapper:hover {
    text-decoration: underline;
    cursor: pointer;
}

.category-button-imgs {
    width: 100%;
}

.categories-title {
    font-size: 14px;
}

.trending-slider {
    background-color: rgb(0, 179, 152);
    margin-top: -0.6vh;
    height: 36vh;
    margin-bottom: 16px;
    display: flex;
    overflow-x: scroll;
}

.trending-slider::-webkit-scrollbar {
    display: none;
}

.trending-slider > children {
    transform: translateX(var(--item-total-offset));
    
}

.trending-slider:hover {
    cursor: ew-resize;
}

.trending-title-wrapper {
    position: relative;
    background-color: rgb(191,230,242);
    height: 86%;
    min-width: 25%;
    width: 25%;
    left: 8px;
    top: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.trending-title {
    font-size: 36px;
    width: 80%;
    line-height: 1.15em;
}

.featured-categories-header {
    font-size: 29px;
}

.middle-home-page-title {
    font-size: 36px;
    margin: 20px 0px;
}

.middle-cards-wrapper {
    display: flex;
    justify-content: space-between;
}

.middle-home-page-card {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 23.8%;
    background: none;
    border: none;
    border-radius: 12px;
    padding: 0px;
    box-shadow: rgb(214, 214, 214) 0px 0px 0px 1px;
}

.middle-home-page-card:hover {
    cursor: pointer;
}

.middle-card-img {
    border-radius: 12px 12px 0px 0px;
    width: 100%;
}

.middle-card-text {
    padding: 16px;
    display: flex;
    flex-direction: column;
    text-align: left;
    min-height: 25%;
}

.middle-card-title {
    font-size: 19px;
    margin-bottom: 4px;
}

.middle-card-desc {
    font-size: 16px;
    margin-bottom: 12px;
}

.middle-card-fine-print {
    font-size: 12px;
}

.bottom-home-page {
    margin: 16px 0px;
}

.slider-products {
    width: 74%;
    display: flex;
    gap: 10px;
    padding-left: 20px;
    align-items: center;
    height: 100%;
}
.slider-single-product {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 4px;
    border: none;
    background-color: white;
    height: 96%;
}

.slider-product-card {
    width: 14em;
    align-items: center;
    border-radius: 4px;
    border: none;
    background-color: white;
}

.slider-product-card:hover {
    cursor: pointer;
    text-decoration: underline;
}

.slider-product-picture {
    width: 100%;
    margin: 6px 0px 4px;
}

.slider-single-product #add-to-cart-button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 170px;
    height: 32px;
    /* margin: 29px 0px 8px; */
    font-size: 12px;
}

.slider-product-price, .slider-product-name {
    font-size: 14px;
    text-align: left;
}

.slider-product-price {
    font-weight: bold;
    margin-bottom: 6px;
}

.slider-product-name {
    font-weight: normal;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-bottom: 22px;
}

.slider-product-card-text {
    padding: 6px;
}