.signup-h1 {
    display: flex;
    justify-content: center;
    font-size: 23px;
    margin-top: 20px;
    margin-bottom: 6px;
}

.signup-input {
    font-size: 16px;
    margin-bottom: 8px;
    padding: 9px 8px;
    height: 20px;
    width: 96%;
}

.signup-input:focus {
    outline: none;
    border: 2px solid #777777;
}

.signup-img {
    width: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    margin-top: 20px;
    margin-bottom: -10px;
}

.fine-print {
    font-size: 12px;
    color: rgb(102, 102, 102);
    width: 500px;
    max-width: fit-content;
    margin-top: 10px;
}

#terms {
    display: flex;
}

#signup-terms, #signin {
    text-decoration: underline;
    color: #666666;
    margin-top: -2px;
}

#signup-terms {
    font-size: 16px;
}

#signup-terms:hover {
    color: rgb(51, 51, 51);
    text-decoration: none;
}

#signin {
    font-size: 19px;
}

#signin:hover {
    font-size: 19px;
    color: rgb(51, 51, 51);
}

#signup-create-button {
    background-color: #CC0000;
    font-weight: bold;
    color: white;
    border: none;
    width: 100%;
}

#signup-create-button:hover {
    background-color: rgb(170, 0, 0);
    cursor: pointer;
}

#password-requirements {
    font-size: 12px;
    padding-top: 6px;
    position: relative;
    margin-right: 290px;
    resize: inherit;
    color: #666666;
}

ul {
    list-style: none;
}

#reqs {
    margin-bottom: 7px;
}

#requirement-title {
    font-weight: bold;
    margin-right: 30px;
    margin-bottom: 8px;
}

#requirement-body {
    font-weight: normal;
    margin-top: 7px;
    margin-left: 20px;
    width: 100%;
}

#error {
    display: block;
    text-align: left;
    font-size: 12px;
    color: #b85300;
    justify-content: none;
    width: 100%; 
    margin-left: 1px;
    margin-bottom: 6px;
}