.nav {
    display: flex;
    justify-content: space-between;
}

#nav-signin-button {
    padding: 0px 10px 0px 0px;
    width: auto;
    width: 125px;
    margin-right: 16px;
    margin-left: auto;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
}

.account-img {
    justify-content: center;
    width: 25px;
    padding: 3px;
    text-align: start;
}

.nav-signin-text {
    margin-left: 10px;
    font-size: 14px;
}

.nav-logo {
    margin-top: 6px;
    width: 50px;
}

#nav-signin-button:hover {
    cursor: pointer;
    background-color: rgb(247, 247, 247);
    border-radius: 8px;
}

.welcome-button {
    padding: 0px 10px 0px 0px;
    width: auto;
    width: 125px;
    margin-right: 16px;
    margin-left: auto;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    border: none;
    background-color: white;
    font-size: 14px;
}

.welcome-text {
    margin-left: 10px;
    font-size: 14px;
}